/* Página home.php layout grid */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
a:link.pagina {
    font-size: 18px;
    font-weight: 500;
    margin: 20px;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}
.cabecalho {
    grid-area: cabecalho;
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.conteudo {
    grid-area: conteudo;
}
.rodape {
    grid-area: rodape;
    background-color: rgb(0, 0, 0);
}
p.texto_rodape {
    color: white;
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
    font-size: 12px;
}
div.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(80px, 1fr) 8.5fr minmax(40px, 0.5fr);
    grid-template-areas: 
    "cabecalho"
    "conteudo"
    "rodape";
}
/* DIV pagina home distinada a conteudo */
div.banner {
    background-image: url("../image/banner.jpg");
    background-size: cover;
}

/* Pagina de cadastro */
.formulario {
    width: 80vw;
    margin: 10vh auto 0vh auto;
    display: flex;
    flex-direction: column;
}
.input {
    box-sizing: border-box;
    padding: 15px;
    height: 50px;
    width: 400px;
    margin: 10px auto;
    border-radius: 1em;
    border: 1px solid rgb(41, 41, 41);
}
input:focus {
    outline: none;    
}
input::placeholder {
    color: rgb(41, 41, 41);
    font-size: 14px;
}
.btn_enviar {
    background-color: rgb(41, 41, 41);
    color: white;
    font-weight: 600;
}
.btn_enviar:hover {
    background-color: rgb(31, 31, 31);
}
ul {
    box-sizing: border-box;
    list-style-type: none;
    width: 400px;
    margin: 20px auto;
    text-align: center;
    padding-left: 0px;
}
li {
    background-color: rgb(248, 148, 148);
    color: red;
    padding: 10px 0px;
    border: 1px solid red;
}
ul > li.sucesso {
    background-color: lightgreen;
    color: green;
    border: 1px solid green;
}
    

/* Pagina de livros (registros) */
div.tabela {
    width: 60vw;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    border: 1px solid black;
}
table.registros {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
th {
    text-align: left;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 1em;
    padding: 15px;
}
td {
    padding: 10px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 1em;
}